/* Your styles goes here. */
body {
  background-color: #28282b;
  color: white;
}

.parking-lot {
  display: flex;
  flex-direction: row;
}

.parking-space {
  border: 1px solid white;
  border-style: none solid;

  height: 240px;
  width: 120px;
}

.car {
  height: 40px;
  width: 40px;
  background-color: white;
}
