/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-inline: 0;
}
